@import '../../_assets/colors/colors';

.mainTitle {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 300px;
  margin-bottom: 1.3rem;
}

.contentRow {
  display: flex;
  flex-direction: column;

  .tvBoxInfoContainer {
    display: flex;
    flex-direction: column;

    .image {
      height: 40vh;
      background-image: url(../../_assets/img/pristavka.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .converHeader {
      margin-top: 1.3rem;
    }
    .featuresContainer {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0;
      font-size: 0.9rem;
      .androidTv {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
      }

      .assistant {
        display: flex;
        align-items: center;
      }
      span {
        padding-right: 1rem;
      }
      .chromecast {
        display: flex;
        align-items: center;
      }
    }
  }

  .channelsInfoContainer {
    .languages {
    }
    .categories {
    }
    .moreChannels {
    }
  }
}

.priceActionRow {
  display: flex;
  flex-direction: column;
  .price {
    color: $colorCorporate;
    font-size: 1.5rem;
  }
  .callToAction {
    display: flex;
    .bottonAction {
      width: 100%;
    }
  }
}

@media screen and (min-width: 475px) {
  .featuresContainer {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .mainTitle {
    font-size: 2.2rem;
    max-width: 400px;
  }
}
@media screen and (min-width: 650px) {
  .priceActionRow {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 720px) {
  .mainTitle {
    font-size: 3rem;
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .contentRow {
    flex-direction: row;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
}
