@import '../../_assets/colors/colors';

.mainTitle {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 300px;
}

.contentRow {
  display: flex;
  flex-direction: column;

  .tvBoxInfoContainer {
    display: flex;
    flex-direction: column;
    .image {
      height: 235px;
    }
    .featuresContainer {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0;
      font-size: 0.9rem;
      .androidTv {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
      }

      .assistant {
        display: flex;
        align-items: center;
      }
      span {
        padding-right: 1rem;
      }
      .chromecast {
        display: flex;
        align-items: center;
      }
    }
  }

  .channelsInfoContainer {
    .languages {
    }
    .categories {
    }
    .moreChannels {
    }
  }
}

.priceActionRow {
  .price {
  }
  .callToAction {
    button {
      width: 100%;
    }
  }
}

@media screen and (min-width: 475px) {
  .featuresContainer {
    flex-direction: row !important;
    justify-content: space-between;
  }
}
