@import '_assets/colors/_colors.scss';

.icon {
  align-self: center;
  justify-self: center;
  :hover {
    cursor: pointer;
  }
}
.burger {
  fill: $colorCorporate;
}
.close {
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  fill: $colorDanger;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $colorAlternativeBg;

  .list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;

    li:last-of-type {
      margin-bottom: 2rem;
    }
  }
  .listItem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    align-self: flex-start;
  }
  .listItemSeparator {
    display: none;
  }
  .currentlistItem {
    font-weight: 600;
    color: $colorCorporate;
  }
}
@media screen and (min-width: 730px) {
  .nav {
    display: flex;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    background-color: $colorBg;
    margin-top: 0;
    font-size: 14px;
    ul {
      margin: 0;
    }
    .list {
      flex-direction: row;
      margin: 0;
      li:last-of-type {
        margin-bottom: 0;
      }
    }
    .listItem {
      margin: 0;
    }
    .listItemSeparator {
      display: inline-block;
      margin: 0 2rem;
    }
    .currentlistItem {
      font-weight: 600;
      color: $colorCorporate;
    }
  }
}
