@import '../../../../../../_assets/colors/colors';

nav {
  font-size: 1rem;
  a {
    color: $colorCorporate;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    .listItemSeparator {
      display: none;
    }
    .listItem {
      color: $colorCorporate;
      margin-top: 1.1rem;
      &:hover {
        cursor: pointer;
      }
      &:last-of-type {
        margin-bottom: 1.1rem;
      }
    }
    .currentlistItem {
      color: $colorCorporate;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 730px) {
  nav {
    margin-top: 2rem;
    a {
      color: $colorFont;
    }
  }
  .list {
    flex-direction: row;
    margin-bottom: 1.1rem;
  }
  .listItem {
    align-self: center;
    margin: 0 2rem;
    &:last-of-type {
      margin-top: 1.1rem;
      margin-bottom: 0 !important;
    }
  }
  .listItemSeparator {
    display: flex !important;
    align-self: flex-end;
    color: $colorFont;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    margin-top: 0;
    padding: 0;
  }
  .list {
    margin-bottom: 0 !important;
  }
  .listItem {
    margin-top: 0 !important;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
