@import '../../../../_assets/colors/colors';

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  .logo {
    align-self: center;
    font-family: 'Oswald';
    font-size: 1.3rem;
    color: $colorFontTitle;
  }
}
