* {
  // border: 1px solid green !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./_assets/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(./_assets/fonts/Oswald/Oswald-Regular.ttf) format("opentype");
}
body {
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-family: "Oswald";
}



.header {
  display: flex;
  justify-content: space-between;

  .logo {
    align-self: center;
  }

  .nav {
    min-height: 5vh;
    .list {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      list-style-type: none;
      padding-left: 0;
      li:first-of-type {
        margin-left: 0px;
      }
      li:last-of-type {
        margin-right: 0px;
      }
    }
    .listItem {
      margin: 0 2rem;
    }
   /*  .listItemSeparator {
      display: none;
    } */
  }
}

.content {
  // min-height: 95vh;
}

.footer {
}
