@import '_assets/colors/_colors.scss';

* {
  // border: 1px solid green !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(_assets/fonts/Roboto/Roboto-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
    url(_assets/fonts/Oswald/Oswald-Regular.ttf) format('opentype');
}
html,
body {
  font-family: 'Roboto';
  color: $colorFont;
  font-size: 16px;
  background-color: $colorBg;
}

h1,
h2,
h3 {
  font-family: 'Oswald';
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  b {
    color: $colorCorporate;
  }
}

p {
  font-size: 14px;
}

h1 {
  color: $colorFontTitle;
}

.container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

a {
  color: $colorFontTitle;
  text-decoration: none;

  &:hover {
    color: $colorCorporate;
  }
}
.btn {
  color: $colorButtonFont;
  background-color: $colorCorporate;
  border: none;
  font-size: 1.5rem;
  border-radius: 3px;
  padding: 0.5rem 2.5rem;
  &:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 820px) {
  .container {
    margin: 0 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    max-width: 1200px;
    margin: 0 3rem;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    margin: 0 auto;
  }
}
