$colorFontTitle: #1d1d1f;
$colorFont: #6e6e73;
$colorCorporate: #1a8fdd;
$colorCorporateAlpha75: rgba(26, 143, 221, 0.75);
$colorCorporateAlpha90: rgba(26, 143, 221, 0.9);
$colorAlternativeBg: #efefef;
$colorBg: #ffffff;
$colorButtonFont: #ffffff;
$colorDanger: #de3231;
$colorDangerAlpha75: rgba(222, 50, 49, 0.75);
