@import '../../../../_assets/colors/colors';

footer {
  background-color: $colorAlternativeBg;
}
.footer {
  bottom: 0 !important;
  margin-top: 7rem;
}
.bigor {
  align-self: center;
  text-align: center;
  margin: 0.7rem 0;
  font-weight: 600;
  a {
    color: $colorCorporate;
  }
}
.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    align-self: center;
    justify-self: center;
    margin-bottom: 3rem;
    margin-top: 2.3rem;
    color: $colorFontTitle;
    font-weight: 200;
  }
}
@media screen and (min-width: 1024px) {
  .flexContainer {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
    padding: 3rem 0;
    nav {
      order: 2;
      align-self: center;
    }
    .bigor {
      order: 3;
      margin: 0;
    }
    .logo {
      order: 1;
    }
  }

  .logo {
    margin: 0 !important;
  }
}
