@import '../../../../_assets/colors/colors';

footer {
  margin: auto 0 0;
  background-color: $colorAlternativeBg;
}
.bigor {
  align-self: center;
  text-align: center;
  margin: 0.7rem 0;
  font-weight: 600;
  a {
    color: $colorCorporate;
  }
}
.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    align-self: center;
    justify-self: center;
    margin-bottom: 3rem;
    margin-top: 2.3rem;
    color: $colorFontTitle;
    font-weight: 200;
  }
}
